<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="hello" name="hello1,jkk" class="org.wrl.spring.spring3.HelloImpl"/>
       <bean class="org.wrl.spring.spring3.HelloImpl">
              <property name="values">
                     <list>
                            <value>1</value>
                            <value>2</value>
                            <value>3</value>
                     </list>
              </property>
              <property name="array">
                     <array>
                            <value>2</value>
                     </array>
              </property>
       </bean>

       <bean class="org.wrl.spring.source.ResourceBean"/>


       <bean id="resourceBean1" class="org.wrl.spring.source.StringToResource">
              <property name="resource" value="org/wrl/spring/source/test1.properties"/>
       </bean>
       <bean id="resourceBean2" class="org.wrl.spring.source.StringToResource">
              <property name="resource" value="classpath*:org/wrl/spring/source/test1.properties"/>
       </bean>


       <bean id="injectBean" class="org.wrl.spring.source.ResourceInjectBean">
              <property name="resource" value="org/wrl/spring/source/test1.properties"/>
       </bean>
       <bean id="injectBean2" class="org.wrl.spring.source.ResourceInjectBean">
              <property name="resource" value="classpath:org/wrl/spring/source/test1.properties"/>
       </bean>



       <bean id="resourceArrayBean" class="org.wrl.spring.source.ResourceArrayBean">
              <property name="resources">
                     <array>
                            <value>org/wrl/spring/source/test1.properties</value>
                            <value>LICENSE.txt</value>
                     </array>
              </property>
       </bean>
       <bean id="resourceArrayBean2" class="org.wrl.spring.source.ResourceArrayBean">
              <property name="resources" value="classpath*:META-INF/INDEX.LIST"/>
       </bean>
       <bean id="resourceArrayBean3" class="org.wrl.spring.source.ResourceArrayBean">
              <property name="resources">
                     <array>
                            <value>org/wrl/spring/source/test1.properties</value>
                            <value>classpath*:META-INF/INDEX.LIST</value>
                     </array>
              </property>
       </bean>
</beans>