<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
          
   <bean id="abstractDao" abstract="true">
        <property name="dataSource" ref="dataSource"/>
   </bean>    
    <bean id="userDao" class="org.wrl.spring.jdbc.dao.jdbc.UserJdbcDaoImpl" parent="abstractDao"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:resources.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <property name="targetDataSource">
            <bean class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
                <property name="driverClassName" value="${jdbc.driver}" />

                <property name="maxActive" value="${jdbc.pool.maxActive}" />
                <property name="maxIdle" value="${jdbc.pool.maxIdle}" />
                <property name="minIdle" value="0" />
                <property name="defaultAutoCommit" value="false" />

                <!-- 连接Idle10分钟后超时，每1分钟检查一次 -->
                <property name="timeBetweenEvictionRunsMillis" value="60000" />
                <property name="minEvictableIdleTimeMillis" value="600000" />
            </bean>
        </property>
    </bean>
</beans>