<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <!--Name属性用于定义持久化单元的名字 (name必选,空值也合法);-->
    <!--transaction-type 指定事务类型(可选)-->
    <persistence-unit name="persistenceUnit" transaction-type="RESOURCE_LOCAL">
        <!-- 描述信息.(可选) -->
        <description/>

        <!-- javax.persistence.PersistenceProvider接口的一个实现类(可选) -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <!-- Jta-data-source和 non-jta-data-source用于分别指定持久化提供商使用的JTA和/或non-JTA数据源的全局JNDI名称(可选) -->
        <!--<jta-data-source>java:/MySqlDS</jta-data-source>-->
        <!--<non-jta-data-source/>-->

        <!-- 声明orm.xml所在位置.(可选) -->
        <!--<mapping-file>product.xml</mapping-file>-->

        <!-- 以包含persistence.xml的jar文件为基准的相对路径,添加额外的jar文件.(可选) -->
        <!--<jar-file>../lib/model.jar</jar-file>-->

        <!-- 显式列出实体类,在Java SE 环境中应该显式列出.(可选) -->
        <!--<class>com.domain.User</class>-->
        <!--<class>com.domain.Product</class>-->

        <!-- 声明是否扫描jar文件中标注了@Enity类加入到上下文.若不扫描,则如下:(可选) -->
        <exclude-unlisted-classes>true</exclude-unlisted-classes>

        <!--缓存模式。加了@Cacheable注解的默认为二级缓存。有四种模式：ALL-缓存所有实体；NONE-禁止缓存；ENABLE_SELECTIVE-如果加了缓存的标识，是默认的选选项;
        DISABLE_SELECTIVE- enable caching unless explicitly marked as  @Cacheable(false) (not  recommended)　validation-mode-->
        <shared-cache-mode>ENABLE_SELECTIVE</shared-cache-mode>

        <!--实体的验证模式，默认是激活的。当一个实体在创建、更新，在实体发送到数据库前会被进行验证。CALLBACK: entities are validated on creation, update and deletion. If no Bean Validation provider-->
        <!--<validation-mode>CALLBACK</validation-mode>-->

        <!--厂商专有属性(可选)-->
        <properties>
            <property name="hibernate.show_sql" value="true"/>
        </properties>
    </persistence-unit>


    <persistence-unit name="unitName" transaction-type="JTA">
    </persistence-unit>
</persistence>