<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/data/elasticsearch  http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:component-scan base-package="com.bluejean.store.web.es.**.esservice.impl">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>-->

    <!--可以通过两种方式来连接到elasticsearch（简称es）集群，-->
    <!--第一种是通过在你的程序中创建一个嵌入es节点（Node）， 使之成为es集群的一部分，然后通过这个节点来与es集群通信.-->
    <!--<elasticsearch:node-client id="client" local="true" cluster-name="elasticsearch" http-enabled="false"/>-->

    <!--第二种方式是用TransportClient这个接口和es集群通信-->
    <elasticsearch:transport-client id="client" cluster-nodes="${elasticsearch.cluster_nodes}" cluster-name="${elasticsearch.cluster_name}"
                                    client-transport-sniff="true"/>

    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client" />
        <!--<constructor-arg name="resultsMapper" ref="customResultsMapper"/>-->
    </bean>

    <!--<bean id="customResultsMapper" class="com.bluejean.store.web.es.common.CustomResultMapper"/>-->

    <elasticsearch:repositories base-package="com.bluejean.store.**.esrepository" elasticsearch-template-ref="elasticsearchTemplate"/>
</beans>